
.kontainer-pencarian-apl{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ff00152a;
    .pencarian-apl{
        display: flex;
        flex-direction: row;
        height: 35px;
        border-radius: 17.5px;
        background-color: #FFFFFF;
        width: 90%;
        align-items: center;
        margin: 10px 0;
        .gbr-pencarian{
            width: 20px;
            height: 20px;
            object-fit: contain;
            margin-left: 5px;
            &:hover{
                cursor: pointer;
            }
        }
        .input-pencarian{
            width: calc(100% - 60px);
            margin: 0 5px;
            border: 0;
            border: none;
            font-size: 18px;

            &:focus{
                outline: none;
                border: none
            }
        }
        .gbr-mic{
            width: 20px;
            height: 20px;
            object-fit: contain;
            margin-right: 5px;
            &:hover{
                cursor: pointer;
            }
        }
    }
}